@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>INBill</title>
</head>
<body>
    <div>
        @Resources.Lang.PDA_Common_Tips_InAssitSave
        ids=@ViewBag.ids
    </div>
</body>
</html>
